@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


/* هيدر */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #ffffff; /* لون خلفية الهيدر */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    transition: all 0.25s ease-in-out;
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: auto; /* دفع الأيقونات إلى الجهة اليسرى */
    
}

.header-icons button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.25rem;
    margin-left: 1rem; /* إضافة الهامش بين الأيقونات */
    cursor: pointer;
}

.header-icons i {
    color: #000000;
    font-size: 1.5rem;
}

.header-icons span {
    margin-left: 0.5rem; /* مسافة بين الأيقونة والاسم */
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../images/logo.png') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed; /* تثبيت الصورة في الخلفية */
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px; /* إضافة بعض الهوامش لتجنب مشاكل العرض عند تكبير الشاشة */
    box-sizing: border-box; /* لضمان أن الهوامش لا تؤثر على عرض العنصر */
}

.login-box {
    background: rgba(255, 255, 255, 0.8); /* لون الخلفية مع شفافية */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
    border: 2px solid hsl(0, 25%, 97%); /* إضافة حدود سوداء للمستطيل */
}

.login-box h1 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: black;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: black;
}

.input-group input {
    width: 90%;
    padding: 10px;
    border: 2px solid #e8e3e3; 
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #02568C;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.invalid-feedback {
    color: red;
    font-size: 0.875rem;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0; /* تغيير إلى اليمين */
    width: 100% ;
    color: hwb(0 5% 95%);
    padding: 10px 20px;
    text-align: center;
    transition: all 0.25s ease-in-out;
}

.header {
    background-color:  hwb(213 75% 18%);
    color: #fff;
}

.header.light-mode {
    background-color: #f8f9fa;
    color: hwb(0 0% 100%);
}

.footer {
    color: hwb(0 5% 95%);
}

.footer.light-mode {
    background-color: #f8f9fa;
    color: hwb(0 0% 100%);
}